{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <div class="topnav">
    <a href="/">HOME</a> |
    <a href="/members">MEMBERS</a>|
    <a href="/ranking/">RANKS</a>
    <div class="navbar-nav ml-auto">
    <a href="/login_page/">LOGIN</a> | 
    <a href="/register/">REGISTER</a> 

    </div>

  </div>

{% block content %}
{% endblock %}


</body>
</html>